@font-face {
    font-display: swap;
    font-family: "Raleway";
    /* Ð¨Ñ€Ð¸Ñ„Ñ‚ Raleway */
    font-style: normal;
    /* ÑÑ‚Ð¸Ð»ÑŒ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° */
    font-weight: 500;
    /* Ð–Ð¸Ñ€Ð½Ð¾ÑÑ‚ÑŒ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° */
    src: url(./../fonts/Raleway-Regular.ttf) format("truetype");
    /* ÐŸÑƒÑ‚ÑŒ Ð´Ð¾ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° Ð² Ð¿Ð°Ð¿ÐºÐµ ÑÐ°Ð¹Ñ‚Ð° */
}

@media (max-width: 900px) {}

.tovkorzina>img {
    display: flex;
    width: 60px;
}

.korz-zakaz {
    position: absolute;
    font-size: 30px;
    border: solid 1px #000;
    padding: 16px;
    right: 50px;
    bottom: 25px;
}

.korzina-buttom {
    display: flex;
    justify-content: space-between;
}

.korz-stoim-title {
    margin-top: 18px;
    font-size: 30px;
}

.korz-stoim-border {
    border: solid 1px #000;
    width: 270px;
    height: 55px;
}

.korz-tov {
    border: solid 1px #000;
    width: 610px;
    height: 170px;
}

.korzina>span {
    font-size: 30px;
}

.krest>img {
    width: 60px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.korzina>h2 {
    font-size: 30px;
    border: solid 1px #000;
    padding: 10px;
    width: 220px;
}

.korzina {
    width: 100%;
    height: 450px;
    max-width: 650px;
    background: #E1EDE6;
    border: solid 1px #000;
    position: fixed;
    right: 0;
    top: 120px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;

    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
}

.korzina.active {
    transform: none;
}

.cross>img {
    width: 20px;
    position: absolute;
    top: 8px;
    left: 290px;
}

.icons-burger {
    width: 30px;
}

.mobile-menu .menu {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    max-width: 320px;
    background: #E1EDE6;
    border: solid 1px #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;

    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
}

.mobile-menu.active {
    transform: none;
}

.burger {
    transition: all 0.5s ease-in-out;
}

.burger.active {
    background: #86928B;
    border-radius: 18px;
}

html {
    box-sizing: border-box;
    /* Ð Ð°Ð·Ð¼ÐµÑ€ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð°: Ð²ÐºÐ»ÑŽÑ‡Ð°Ñ Ð¾Ñ‚ÑÑ‚ÑƒÐ¿Ñ‹ */
}

.burger>img {
    width: 60px;
}

* {
    font-family: 'Raleway';
    /* Ð¨Ñ€Ð¸Ñ„Ñ‚ Raleway */
    margin: 0;
    /*ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð²Ð½ÐµÑˆÐ½Ð¸Ðµ*/
    padding: 0;
    /*ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð²Ð½ÑƒÑ‚Ñ€ÐµÐ½Ð½Ð¸Ðµ*/
    font-weight: 400;
    /*Ð–Ð¸Ñ€Ð½Ð¾ÑÑ‚ÑŒ ÑˆÑ€Ð¸Ñ„Ñ‚Ð°*/
    box-sizing: inherit;
    /* Ð Ð°Ð·Ð¼ÐµÑ€ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð°: ÑÑ‚Ð°Ð½Ð´Ð°Ñ€Ñ‚Ð½Ñ‹Ð¹ */
    appearance: none;
    /* ÐžÐ¢ÐšÐ›Ð®Ð§Ð•ÐÐ˜Ð• Ð¡Ð¢ÐÐÐ”ÐÐ Ð¢ÐÐ«Ð¥ Ð¡Ð¢Ð˜Ð›Ð•Ð™ Ð‘Ð ÐÐ£Ð—Ð•Ð Ð */
    outline: none;
    /* ÐžÐ¢ÐšÐ›Ð®Ð§Ð•ÐÐ˜Ð• Ð¡Ð¢ÐÐÐ”ÐÐ Ð¢ÐÐ«Ð¥ Ð¡Ð¢Ð˜Ð›Ð•Ð™ Ð‘Ð ÐÐ£Ð—Ð•Ð Ð */
}

body {
    margin: 0 auto;
    /*ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð²Ð½ÐµÑˆÐ½Ð¸Ðµ ÑÐ²ÐµÑ€Ñ…Ñƒ 0 Ð¿Ð¾ ÐºÑ€Ð°ÑÐ¼ Ð¾Ð´Ð¸Ð½Ð°ÐºÐ¾Ð²Ñ‹Ðµ Ð°Ð²Ñ‚Ð¾Ð¼Ð°Ñ‚Ð¸Ñ‡ÐµÑÐºÐ¸Ðµ*/
    max-width: 1920px;
    /* ÐœÐ°ÐºÑÐ¸Ð¼Ð°Ð»ÑŒÐ½Ð°Ñ ÑˆÐ¸Ñ€Ð¸Ð½Ð° Ð¾ÐºÐ½Ð°*/
    overflow: auto;
    /*ÐŸÑ€Ð¸ Ð¿ÐµÑ€ÐµÐ¿Ð¾Ð»Ð½ÐµÐ½Ð¸Ð¸ ÑÐºÑ€Ð¾Ð»Ð¸Ñ‚ÑŒ*/
    width: auto;
    /*Ð¨Ð¸Ñ€Ð¸Ð½Ð° Ð°Ð²Ñ‚Ð¾Ð¼Ð°Ñ‚Ð¸Ñ‡ÐµÑÐºÐ°Ñ*/
    position: relative;
    /*ÐŸÐ¾Ð·Ð¸Ñ†Ð¸Ñ - Ð¾Ñ‚Ð½Ð¾ÑÐ¸Ñ‚ÐµÐ»ÑŒÐ½Ð°Ñ*/
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}

/* Ð¡Ð¢ÐÐÐ”ÐÐ Ð¢ÐÐ«Ð• ÐÐÐ¡Ð¢Ð ÐžÐ™ÐšÐ˜ */

/* ÐÐÐ¡Ð¢Ð ÐžÐ™ÐšÐ˜ Ð¨ÐÐŸÐšÐ˜ */
#header {
    flex-wrap: wrap;
    background: #E1EDE6;
    position: relative;
    /*ÐŸÐ¾Ð·Ð¸Ñ†Ð¸Ñ - Ð¾Ñ‚Ð½Ð¾ÑÐ¸Ñ‚ÐµÐ»ÑŒÐ½Ð°Ñ*/
}

#header .header-container {
    display: flex;
    /* Ð¡Ñ‚Ð¸Ð»ÑŒ Ð¾Ñ‚Ð¾Ð±Ñ€Ð°Ð¶ÐµÐ½Ð¸Ñ - flex */
    align-items: center;
    /* Ð’Ñ‹Ñ€Ð¾Ð²Ð½ÑÑ‚ÑŒ Ð¿Ð¾ Ð³Ð¾Ñ€-Ð»Ð¸ */
    justify-content: space-between;
    /* Ð’Ñ‹Ñ€Ð¾Ð²Ð½ÑÑ‚ÑŒ Ð¿Ð¾ Ð²ÐµÑ€Ñ‚Ð¸ÐºÐ°Ð»Ð¸ */
    padding-top: 32px;
    /* ÐžÑ‚ÑÑ‚ÑƒÐ¿ ÑÐ²ÐµÑ€Ñ…Ñƒ */
    padding-bottom: 32px;
    /* ÐžÑ‚ÑÑ‚ÑƒÐ¿ ÑÐ½Ð¸Ð·Ñƒ*/
}

#header .header-container .menu {
    display: flex;
    /* Ð¡Ñ‚Ð¸Ð»ÑŒ Ð¾Ñ‚Ð¾Ð±Ñ€Ð°Ð¶ÐµÐ½Ð¸Ñ - flex */
    align-items: center;
    /* Ð’Ñ‹Ñ€Ð¾Ð²Ð½ÑÑ‚ÑŒ Ð¿Ð¾ Ð³Ð¾Ñ€-Ð»Ð¸ */
    gap: 30px;
    /* ÐžÑ‚ÑÑ‚ÑƒÐ¿Ñ‹ Ð¼ÐµÐ¶Ð´Ñƒ ÑÐ»ÐµÐ¼ÐµÐ½Ñ‚Ð°Ð¼Ð¸ 30px */
}

#header .header-container .menu a {
    text-decoration: none;
    /* Ð£Ð±Ñ€Ð°Ñ‚ÑŒ Ð½Ð¸Ð¶Ð½Ð¸Ðµ Ð¿Ð¾Ð´Ñ‡ÐµÑ€ÐºÐ¸Ð²Ð°Ð½Ð¸Ðµ */
    font-size: 20px;
    /* Ð Ð°Ð·Ð¼ÐµÑ€ ÑˆÑ€Ð¸Ñ„Ñ‚Ð° 20px */
}

/* ÐÐÐ¡Ð¢Ð ÐžÐ™ÐšÐ˜ Ð¨ÐÐŸÐšÐ˜ */


/* Ð¡Ð¢Ð˜Ð›Ð˜ Ð”Ð›Ð¯ Ð‘ÐÐÐÐ•Ð Ð */
#mainbanner {
    position: relative;
    width: 100%;
    background-image: url(../images/banner/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#mainbanner .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#mainbanner .mainbanner-wrapper {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    z-index: 2;
    position: relative;
}

#mainbanner .right-side .mainbanner-title {
    color: #6B6B8A;
    font-family: "Raleway";
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    margin-bottom: 20px;
}

#mainbanner .right-side .mainbanner-subtitle {
    color: #86928B;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 54px;
    /* 30px */
}

#mainbanner .easterEgg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#mainbanner .easterEgg.hidden {
    display: none;
}

#mainbanner .left-side img {
    width: 100%;
    max-width: 400px;
}

#mainbanner .right-side .btn {
    color: #6B6B8A;
    border: 1px solid #6B6B8A;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

#mainbanner .btn-right,
#mainbanner .btn-left {
    cursor: pointer;
    transition: all 0.5s linear;
    position: relative;
    margin-left: 30px;
}

#mainbanner .btn-right.anime,
#mainbanner .btn-left.anime {
    transform: rotate(90deg);
}

.products-block__title {
    font-size: 52px;
}

#mainbanner .btn-right:hover svg circle {
    fill: red;
}

#mainbanner .btn-left:hover svg circle {
    fill: red;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: none !important;
}

#mainbanner .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 24px;
    margin-left: auto;
}

.products-block__wrapper {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px;
}

.products-block__wrapper.active {
    display: grid;
}

.products-block__card {
    width: 350px;
    height: 730px;
    background: #E1EDE6;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.card__container {
    display: flex;
    flex-direction: column;
}

.card__img {
    width: 310px;
    height: 422px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.card__subtitle {
    color: #86928B;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.card__title {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

.card__description {
    color: #2C2D35;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.card__price {
    color: #6B6B8A;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}

.card__button {
    display: flex;
    width: 310px;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    border: 1px solid #6B6B8A;
}

.products-block__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.products-block {
    margin-top: 70px;
}

.products-block__tabs {
    display: flex;
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
}

.products-block__tab {
    border-radius: 20px;
    background: #D7D7D7;
    display: flex;
    padding: 10px 20px;
    align-items: flex-start;
}

.products-block__tab.active {
    background-color: #6B6B8A;
    color: #fff;
}

.seo-block {
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;
    background-image: url(../images/seo/background-seo.jpg);
    margin-top: 60px;
    margin-bottom: 60px;
}

.seo__title {
    color: #F4F6F5;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 40px */
}

.seo__text {
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
    margin-bottom: 60px;
}

.seo__button {
    color: #fff;
    font-family: ralevey;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: 20px 60px 20px 60px;
    display: inline-flex;
    height: 65px;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    background: #6B6B8A;
}

.seo-block__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.seo-block__content {
    width: 540px;
    height: 361;
    object-fit: cover;
}

.contacts-block__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.contacts-block__title {
    font-weight: 600;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;

}

.contacts-block__desc {
    margin-top: 5px;
    font-family: raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 5px;
}

.contacts-block__icon {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.contacts-block__right {
    display: flex;
    flex-direction: column;
}

.footer {
    background: #E1EDE6;
    margin-top: 60px;
}

.footer__wrapper {
    justify-content: space-between;
    display: flex;
    padding: 30px;
}

.icon1 {
    width: 28px;
    height: 28px;
    margin-right: 42px;
}

.icon2 {
    width: 28px;
    height: 28px;
    background: #E1EDE6;
    margin-right: 42px;
}

.icon3 {
    width: 28px;
    height: 28px;
    background: #E1EDE6;
    margin-right: 42px;
}

.footer__info {
    margin-top: 30px;
    margin-right: 30px;
}

.footer__info>p {
    margin-top: 30px;
    margin-right: 30px;
    color: #86928B;
}

.footer__cat {
    display: grid;
    margin-right: 30px;
}

.footer__menu {
    display: grid;
    margin-right: 30px;
}

.footer__icons {
    margin-top: 30px;
}

.footer__name {
    margin-top: 15px;
    color: #86928B;
}

.footer__copiright {
    margin-top: 10px;
    color: #86928B;
}

.footer__info>p {
    margin-top: 20px;
}

.footer__cat-name {
    margin-top: 33px;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__cat-item {
    margin-top: 5px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #86928B;
}